h1{
	color:#B72304;
	font-family: Segoe UI, Segoe, Optima, Candara, Calibri,Arial, sans-serif;
	font-size:3em;
	letter-spacing:0.3em;
	word-spacing:1.0em;
	text-align:center;
	

}
Input:Focus {
     Background-color: #FEF9E7;
}

h2 {
	text-align:center;
	font-family: Calibri;
	
}
fieldset{
	color:darkblue;
	list-style:3px;	
	border-width:3px;
	border-color:darkblue;
	border-radius:24px;
	
}
legend{
	color:orange;
	
}
div{
	padding:3px;
	margin:2px;
	height: 3%;
	float:left"

}

.label80{
	
		margin-right:80px;
		
}
.label29{
	
		margin-right:29px;
		
}
.label35{
	
		margin-right:35px;
		
}
.label17{
	
		margin-right:17px;
		
}